.masthead {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: repeat(3, 1fr);
    border-bottom: #6f6f6f solid 1px;
}

.masthead__menu-and-search {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.masthead__menu-and-search__icon{
    padding: 7px 9px;
    font-size: 11px;
}

.masthead__menu-and-search__icon:hover {
    color : #f7f7f5;

}

.masthead__actions {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    height: 28px;
}



.masthead__technologies {
    grid-column: 2;
    grid-row:2;
    text-align: center;
    width: 100%;
    border-top: #6f6f6f 1px solid;
    border-left: #6f6f6f 1px solid;
    border-right: #6f6f6f solid 1px;
}

.masthead__technologies__entries {
    text-transform: capitalize;
    font-size: 10px;
    color: #6f6f6f;
    margin: 0 5%;
}

.masthead__date {
    grid-column: 1;
    grid-row: 3;
    width: 100%;
    display: flex;
    justify-self: flex-start;
    flex-direction: column-reverse;
}

.masthead__date,
.masthead__paper {
    line-height: 11px;
    height: 4em;
    border-top: #6f6f6f 1px solid;
}

.masthead__date,
.masthead__logo,
.masthead__paper {
    padding-top: 15px;
    padding-bottom: 11px;
    
}

.masthead__logo {
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    
}

.masthead__paper {
    grid-column: 3;
    grid-row: 3;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-flow: row;
}

.masthead__paper__icon {

}
